/*****************************************************\
GENERAL
\*****************************************************/

:root {
  --bg-color: #b490ca;
}

* { box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "DejaVu Sans", serif;
  color: #292929;
  font-size: 10pt;
}


.page {
  height: 29.7cm;
  width: 21cm;
  margin: auto;
  padding: 1cm;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.page a {
  color: #000;
}

hr {
  display: inline;
  border: none;
  color: #ccc;
}
hr::before {
  content: " /// ";
}

header, section {
  margin-bottom: 8mm;
  /* border: 1px solid red; */
}
section:last-of-type {
  margin-bottom: 0;
}
/*****************************************************\
HEADER
\*****************************************************/


header {
  background: var(--bg-color);
  background : linear-gradient(-45deg, #8BB8D4, #b490ca);

  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .3cm;
}

header img {
  width: 3cm;
  height: 3cm;
  border-radius: 50%;
  background: #FFF;
  margin-left: .5cm;
}
header .titles h1,
header .titles h2 {
  margin: 0;
  padding: 0;
}
header .titles h1 {
  text-transform: uppercase;
  margin-top: 0.3cm;
}

header ul  {
  order: 0;
  flex-grow: 2;
  padding: 0;
  margin: 0;
  text-align: right;
}
header ul li {
  list-style: none;
}
header a {
  color: #fff !important;
  text-decoration: none;
}

/*****************************************************\
COMPETENCES
\*****************************************************/

#skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .6cm .3cm;
}

#skills .skill {
  display: flex;
  flex-direction: column;
}

#skills .skill h3{
  color: #fff;
  background: var(--bg-color);
  background: #9BA8D0;
  font-size: 1em;
  padding: 1mm 2mm;
  margin: 0;
  margin-bottom: 2mm;
}

#skills .skill .skill-content [class^='fa']{
  color: #9AABD1;
  width: .7cm;
}

#skills .skill:nth-child(1) h3 {
  /* background: #A4A0CE; */
  background : linear-gradient(-45deg, #9AABD0, #A69ECD);

}
#skills .skill:nth-child(2) h3 {
  /* background: #94B0D1; */
  background : linear-gradient(-45deg, #8EB8D3, #9AAAD0);

}
#skills .skill:nth-child(3) h3 {
  /* background: #9EA6CF; */
  background : linear-gradient(-45deg, #94B1D3, #9FA4CF);

}
#skills .skill:nth-child(4) h3 {
  /* background: #8EB6D3; */
  background : linear-gradient(-45deg, #88BDD5, #93B2D2);

}




/*****************************************************\
EXPERIENCES
\*****************************************************/

#experiences .exp h3 {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
#experiences .exp .exp-date {
  color: #fff;
  padding: 1mm;
  display: flex;
  align-items: center;
}

#experiences .exp .exp-title {
  padding:  1mm;
  border-top: .5mm solid;
  flex-grow: 1;
}
#experiences .exp .exp-content {
  margin-top : 2mm;
  margin-bottom: 5mm;
}
#experiences .exp:last-child .exp-content {
  margin-bottom: 0;
}

#experiences .exp:nth-child(1) .exp-title  { border-color: #97AED1;}
#experiences .exp:nth-child(1) .exp-date { background: #97AED1;}
#experiences .exp:nth-child(2) .exp-title  { border-color: #91B3D2;}
#experiences .exp:nth-child(2) .exp-date { background: #91B3D2;}
#experiences .exp:nth-child(3) .exp-title  { border-color: #8CB8D3;}
#experiences .exp:nth-child(3) .exp-date { background: #8CB8D3;}
#experiences .exp:nth-child(4) .exp-title  { border-color: #87BDD5;}
#experiences .exp:nth-child(4) .exp-date { background: #87BDD5;}
#experiences .exp:nth-child(5) .exp-title  { border-color: #83C2D6;}
#experiences .exp:nth-child(5) .exp-date { background: #83C2D6;}
#experiences .exp:nth-child(6) .exp-title  { border-color: #7EC6D7;}
#experiences .exp:nth-child(6) .exp-date { background: #7EC6D7;}


/*****************************************************\
BOTTOM PART
\*****************************************************/

#bottom {
  background : linear-gradient(-45deg, #5ee7df, #81C3D6);

  display: grid;
  grid-template-columns: 1fr 2fr;
}

#bottom h2 {
  color: #fff;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 1.1em;
  text-align: left;
}

/*****************************************************\
AUTRE INFOS
\*****************************************************/

#autre {
  /* background: var(--bg-color); */
  padding: 5px;
}
#autre strong {
  color: #fff;
}
#autre ul {
  margin: 0;
  padding: 0;
}
#autre ul li {
  list-style: none;
  margin: 0;
  margin-bottom: 4px;
}
#autre hr {
  color: #fff;
}


/*****************************************************\
FORMATION
\*****************************************************/

#formation {
  border-left: 1mm solid #FFF;
  text-align: right;
  padding: 5px;
  /* background: var(--bg-color); */
}

#formation .form {
  display: flex;
  flex-direction: row-reverse;
  margin: 1.2mm 0;
}
#formation .form span {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#formation .form span:first-child { /* date */
  display: inline-block;
  /* width: 100px; */
  padding: 0 3px;
  margin-left: 20px;
  text-align: right;
  font-weight: bold;
  color: #fff;
  /* border: 1px solid red; */
}
#formation .form span:last-child { /* title */
  position: relative;
  background: #FFF;
  padding: 3px;
  flex-grow: 1;
  justify-content: flex-start;

}
#formation .form span:last-child::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ffffff;
}

/*****************************************************\
FOOTER = remaining space
\*****************************************************/

footer {
  flex-grow: 1;
}
