* { box-sizing: border-box; }
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "DejaVu Sans", serif;
  color: #292929;
}
.page {
  height: 29.7cm;
  width: 21cm;
  margin: auto;
  padding: 1.5cm 1cm;
}
header {
  background : linear-gradient(-45deg, #5ee7df, #b490ca);
  color: #fff;
  display: flex;
  align-items: center;
  padding: .6cm;
  flex-direction: row;
}
header > * {
}
header img {
  width: 3cm;
  height: 3cm;
  border-radius: 50%;
  background: #FFF;
  margin-left: .5cm;
}
header .titles h1,
header .titles h2 {
  margin: 0;
  padding: 0;
}
header .titles h1 {
  text-transform: uppercase;
  margin-top: 0.3cm;
}

header ul  {
  order: 0;
  flex-grow: 2;
  padding: 0;
  margin: 0;
  text-align: right;
}
header ul li {
  list-style: none;
}
header a {
  color: #fff;
  text-decoration: none;
}

/*****************************************************\
COMPETENCES
\*****************************************************/

#skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#skills .skill {
  padding: 5px;
  /* background: #b490ca; */
  background : linear-gradient(-45deg, #5ee7df, #b490ca);
  display: flex;
  flex-direction: column;
}
#skills .skill:last-child {
  /* grid-column-start: 2;
  grid-column-end: span 2; */
}

#skills .skill h3{
  margin: 0;
  padding-bottom: 3px;
  color: #fff;
}
#skills .skill .skill-content{
  padding: 10px 5px;
  background: #FFF;
  flex-grow: 1;
}

#skills .skill .skill-content [class^='fa']{
  color: #b490ca;
  width: 1.8rem;
}
