* { box-sizing: border-box; }
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "DejaVu Sans", serif;
  color: #292929;
  font-size: 10pt;
}
.page {
  background : linear-gradient(-45deg, #5ee7df, #b490ca);
  height: 29.7cm;
  width: 21cm;
  margin: auto;
  /* padding: 1.5cm 1cm; */
  border: 1.5cm solid #FFF;
  border-width: 1cm 1cm;
  position: relative;

}

/*****************************************************\
GENERAL
\*****************************************************/

.page > section {
  border-top: 10px solid #FFF;
}
.page > h1 {
  background: #FFF;
  margin: 0;
  padding: 10px 0;
  font-size: 1em;
  display: none;
}

.page a {
  color: #000;
}
/*****************************************************\
HEADER
\*****************************************************/


header {
  color: #fff;
  display: flex;
  align-items: center;
  padding: .3cm;
  flex-direction: row;
}

header img {
  width: 3cm;
  height: 3cm;
  border-radius: 50%;
  background: #FFF;
  margin-left: .5cm;
}
header .titles h1,
header .titles h2 {
  margin: 0;
  padding: 0;
}
header .titles h1 {
  text-transform: uppercase;
  margin-top: 0.3cm;
}

header ul  {
  order: 0;
  flex-grow: 2;
  padding: 0;
  margin: 0;
  text-align: right;
}
header ul li {
  list-style: none;
}
header a {
  color: #fff !important;
  text-decoration: none;
}

/*****************************************************\
COMPETENCES
\*****************************************************/

#skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 10px; */
  /* background: #F00; */
}

#skills .skill {
  display: flex;
  flex-direction: column;
  border: 2.5px solid #FFF;
}


#skills .skill:first-child {
  border-left : none;
  border-top : none;
}
#skills .skill:nth-child(2) {
  border-top : none;
  border-right : none;
}
#skills .skill:nth-child(3) {
  border-bottom : none;
  border-left : none;
}
#skills .skill:last-child {
  border-right : none;
  border-bottom : none;
}

#skills .skill h3{
  margin: 5px;
  margin-bottom: 2px;
  padding-bottom: 3px;
  color: #fff;
  font-size: 1em;
}
#skills .skill .skill-content{
  padding: 10px 5px;
  margin: 0 5px 5px;
  background: #FFF;
  flex-grow: 1;
}

#skills .skill .skill-content [class^='fa']{
  color: #b490ca;
  width: 1.8rem;
}

/*****************************************************\
EXPERIENCES
\*****************************************************/

#experiences h3{
}

#experiences .exp {
}
#experiences .exp h3 {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 1em;
}
#experiences .exp .exp-date {
  color: #fff;
  padding: 0 5px;
}

#experiences .exp .exp-title {
  background: #fff;
  margin: 5px;
  padding: 5px 10px;
  flex-grow: 1;
}
#experiences .exp .exp-content {
  background: #fff;
  padding: 5px 0 10px 0;
}
#experiences .exp .exp-content hr {
  display: inline;
  border: none;
  color: #ccc;
}
#experiences .exp .exp-content hr::before {
  content: " /// ";
}

#bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;

}


#formation {
  border-left: 5px solid #FFF;
  text-align: right;
}

#formation .form {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
}
#formation .form span:first-child { /* date */
  display: inline-block;
  width: 100px;
  padding: 0 3px;
  text-align: right;
}
#formation .form span:last-child { /* title */
  background: #FFF;
  padding: 3px;
  flex-grow: 1;
}


footer {
  font-size: 0.5em;
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
